<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <style>
        /* Additional Styles */
        .fasak {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin-top: 20px;
        }

        .payment-side,
        .image-side {
            flex-basis: 45%;
            padding: 20px;
        }

        .carousel-inner img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
        }

        .price {
            color: black;
            font-size: 30px;
            font-weight: bold;
        }

        .payment-card button {
            padding: 10px 20px;
            background-color: #FF9900;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .payment-card button:hover {
            background-color: #FF6600;
        }

        body {
            background-image: url("/bgbg.jpg");
            background-size: cover;

            background-position: center;
            background-repeat: no-repeat;

            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body th:style="'background-image: url(' + @{/assets/images/backgroun-login.jpeg} + '); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;'">


    <header id="menu-jk">
        <div id="nav-head" class="header-nav"  style="background-color: #131f34 ;  margin-top:0px;" >
            <div class="row">
        <img th:src="@{/assets/images/logo1.jpeg}" alt="Avatar Logo" style="width: 160px; height: 80px;  padding-left:10px; ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3  col-sm-12"
                        style="color: #8b6508;font-weight:bold; font-size:42px; margin-top: 1% !important;">Happy</div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li>
                                <h2> You are one step ahead to book event <span style="color: #00ab9f;">[[${uname}]]
                                    </span> </h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <a class="btn btn-success" href="/EventManagement/logout"  style=" margin-top: 5%;">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <!-- Seconary navabr starts here -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <center>[[${message}]] </center> -->
        <ul class="navbar-nav ml-auto"  style="background-color: orange;">
            <li class="nav-item">
                <a class="nav-link" href="/EventManagement/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Events/booking">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">/</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
                    style="border-radius: 20px">
                    <a class="dropdown-item" href="#" id="name">Name: </a>
                    <a class="dropdown-item" href="#" id="phone">Phone: </a>
                    <a class="dropdown-item" href="#" id="email">Email: </a>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Bootstrap JS (optional, for dropdowns, toggles, etc.) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

    const userData = {
        name: "[[${uname}]]",
        phone: "[[${uphone}]]",
        email: "[[${umail}]]"
    };
    
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });


    // Populate dropdown with backend data
    document.getElementById('name').innerText += userData.name;
    document.getElementById('phone').innerText += userData.phone;
    document.getElementById('email').innerText += userData.email;
</script>
<!--Ends secondary nav bar for -->
    <br><br><br>
    <div  style="background-color: rgba(0, 0, 0, 0.7); border-color: #131f34;"class="container fasak" th:if="${EventData != null} ">
        <div class="image-side">
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{/gallery/__${EventData.eventImg1}__}" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/gallery/__${EventData.eventImg2}__}" class="d-block w-100" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/gallery/__${EventData.eventImg3}__}" alt="Image 3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="payment-side">
            <div class="payment-card">
                <h1 th:text="${EventData.eventName}" style="color: #8b6508;"></h1>
                	<div class="mt-1 mb-0 text-muted small" style="color:white;">
										<span style="color:#8b6508;">
											• </span><span style="color:white;">Catering </span> <span style="color:#8b6508;"> •
										</span> <span style="color:white;">Photography</span> <span style="color:#8b6508;">
											• </span> <span style="color:white;">Aesthetics</span>
											<span style="color:#8b6508;">
											• </span> <span style="color:white;">live performances<br /></span>
									</div>
<br>
                <p th:text="${EventData.eventDetails}" style="color:white;"></p>
                
               
                <p class="price" style="color:gold;">₹ <span th:text="${EventData.eventAmount}"></span></p>
                <!-- <a th:href="@{/Form/BookingForm(eventId=${EventData.eventId})}"> -->
                <a th:href="@{/Form/BookingForm(eventCategory=${EventData.eventCategory})}">
                    <button>Book Now</button>
                </a>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        // Initialize the carousel
        $(document).ready(function () {
            $('#imageCarousel').carousel();
            interval: 500
        });
    </script>

    <!-- 
    <h1>Event Details</h1>
    <div th:if="${EventData != null}">
        <p>Event Name: <span th:text="${EventData.eventName}"></span></p>
        <p>Event Amount: <span th:text="${EventData.eventAmount}"></span></p>
        <p>Event Image 1: <span th:text="${EventData.eventImg1}"></span></p>
         <img th:src="@{/gallery/__${EventData.eventImg1}__}" alt="Event Image"> 
        <img th:src="@{/gallery/__${EventData.eventImg1}__}" alt="Event Image" 
     th:height="100" th:width="100">
     <img th:src="@{/gallery/__${EventData.eventImg2}__}" alt="Event Image" 
     th:height="100" th:width="100">
     <img th:src="@{/gallery/__${EventData.eventImg3}__}" alt="Event Image" 
     th:height="100" th:width="100">

        
    </div>
    <div th:unless="${EventData != null}">
        <p>No event data available.</p>
        
    </div> -->
     <!-- FOOTER STARTS HERE-->
      <br>
      <br>
     <section id="footer" class="float-start">
    <footer class="ng text-white pt-5 pb-4" style="background-color: #131f34;">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <!-- Company Info -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #8b6508;">Elite Iris</h5>
                    <p>
                        Expertly managing events with precision, creativity, and a seamless experience from concept to execution.
                    </p>
                </div>

                <!-- Links -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #8b6508;">Products</h5>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">TheProviders</a>
                    </p>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">Creativity</a>
                    </p>
                    <p>
                        <a href="#" class="text-decoration-none" id="footer-hover">SourceFiles</a>
                    </p>
                    
                </div>

                <!-- Useful links -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #8b6508;">Useful Links</h5>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">Your Account</a>
                    </p>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#" class=" text-decoration-none" id="footer-hover">Help</a>
                    </p>
                </div>

                <!-- Contact -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #8b6508;">Contact</h5>
                    <p>
                        <i class="fas fa-home me-3"></i> Vijaynagar, Bangalore
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> eliteiris@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i> + 01 234 567 88
                    </p>
                    <p>
                        <i class="fas fa-print me-3"></i> + 01 234 567 89
                    </p>
                </div>

            </div>

            <hr class="my-3">

            <!-- Social Media -->
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>© 2024 Copyright:
                        <a href="#" class="text-white text-decoration-none">
                            <strong>EliteIris.com</strong>
                        </a>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-end">
                        <a href="#" class="btn btn-outline-warning btn-floating m-1 text-white" role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn btn-outline-warning btn-floating m-1 text-white" role="button">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-outline-warning btn-floating m-1 text-white" role="button">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="btn btn-outline-warning btn-floating m-1 text-white" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    </section>
</body>

</html>